
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey; 
    background-image: linear-gradient(to bottom, #808080 50%, #ffffff 50%);
    background-repeat: no-repeat;
    font-size: 16px;
}
.imagen-achicada {
    width: 8em; 
    height: 6em;
}

.centrado {
    margin: auto;
    width: 60%;
    border: 0.0625em solid black; 
    padding: 1em; 
}


header {
    text-align: center;
    padding: 1em; 
    background-color: #333; 
    color: white; 
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 0.2em solid #ff6600; 
    border-radius: 1em;
    width: 100%;
    margin: 0 auto; 
}

header p {
    font-size: 1em; 
    margin-top: 0.625em; 
}

header h1 {
    font-size: 2.25em; 
    margin-bottom: 0.625em; 
}


footer {
    text-align: center;
    padding: 0.625em; 
    background-color: black; 
    color: white; 
}

footer p {
    margin: 0;
}


.product {
    text-align: center;
    margin: 1.25em auto; 
    width: 80%; 
    max-width: 50em; 
    background-color: grey; 
    padding: 1.25em; 
    border: 0.0625em solid #ccc; 
}

.product img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
}


.carousel {
    text-align: center;
    width: 80%; 
    max-width: 50em; 
    margin: 1.25em auto; 
    background-color: black; 
    padding: 1.25em; 
    border: 0.0625em solid #ccc;
}

.carousel img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

body {
    background-color: grey; 
    color: black; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.centrado {
    text-align: center;
    padding: 1.25em; 
    background-color: #333; 
    color: white; 
    width: 100%; 
}


.tarjeta {
    background-color: #fff;
    border: 0.0625em solid #e0e0e0; 
    border-radius: 1em;
    padding: 1.25em; 
    margin: 0.625em; 
    text-align: center;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    width: calc(25% - 2.5em); 
    display: inline-block;
    vertical-align: top;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: translateY(-1.25em);
    transition: transform 0.5s ease-in-out;
}

.tarjeta h3 {
    font-size: 1.125em; 
    margin-bottom: 0.625em; 
}

.tarjeta p {
    font-size: 1.25em; 
    color: black; 
}

.reseñas {
    max-width: 50em; 
    margin: 1.25em auto; 
    padding: 1.25em; 
    background-color: grey;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.reseñas p {
    font-size: 1em; 
    line-height: 1.5;
    color: black; 
}

.reseña {
    border: 0.0625em solid grey; 
    border-radius: 0.3125em; 
    padding: 1.25em; 
    margin-bottom: 1.25em;
    background-color: grey; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.puntuación {
    color: #ff6600; 
    font-size: 1em; 
}

.nombre-cliente {
    font-style: italic;
    text-align: right;
    margin-top: 0.625em; 
}



.fa {
    font-size: 1.5em; 
    color: #ff6600;
}

.fa-star-o {
    color: #ccc; 
}

.precios{
    font-size: 1.5em;
    color: red;
    text-align: center;
    margin-top: 0.625em; 
}

